<header>
  <!-- <span>Pailun webshop</span> -->
  <nav class="nav-buttons">
    <button id="close-button">
      <ion-icon class="close-icon" name="close-outline"></ion-icon>
    </button>
    <button>Startsida</button>
    <button>Produktsida</button>
    <button>Leveransvilkor</button>
    <button>Om Pailun</button>
    <button>Kassa</button>
  </nav>
</header>
