<header class="header">
  <a href="/" class="companyname-link"
    ><span class="companyname">Pailun webshop</span></a
  >

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li class="main-nav-link">
        <div class="cart">
          <ion-icon class="cart-icon" name="cart-outline"></ion-icon>
          <span class="cart-number">0</span>
        </div>
      </li>
      <li class="main-nav-link"><a href="/">Home</a></li>
      <li class="main-nav-link"><a href="/flowers">Flowers</a></li>
      <li class="main-nav-link"><a href="/garden">Garden</a></li>
      <!-- <li class="main-nav-link"><a href="/"></a></li> -->
      <li class="main-nav-link"><a href="/checkout">Checkout</a></li>
    </ul>
  </nav>

  <button class="btn-mobile-nav">
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
  </button>
</header>
