/* rem and em do NOT depend on html font-size in media queries!
instead, 1rem = 1em = 16px */

/* 1350 screensize/16 = 84 */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px/16px = 56.2% */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  /* 8px / 16px = 50% */

  html {
    font-size: 50%;
  }

  .companyname {
    font-size: 2em;
  }

  /**************************/
  /* MOBILE NAVIGATION */
  /**************************/
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    /* Hide navigation */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    border: 3px solid #cf711f;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }

  .main-nav-link a:link,
  .main-nav-link a:visited {
    font-size: 3.5rem;
  }
}
/**************************/
/* SMALLER TABLETS */
/**************************/
/* 700/16= 43.75 = 44 */
@media (max-width: 44em) {
}
/**************************/
/* Below 600px for Phones */
/*600/16= 38em*/
/**************************/

@media (max-width: 38em) {
}
