html {
  font-size: 62.5%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

/***********************/
/* NAVIGATION */
/***********************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  font-size: 2em;
  background-color: #ffd8abe8;
}

.companyname {
  margin-left: 1em;
  font-size: 1em;
}

.main-nav-list {
  display: flex;
  list-style-type: none;
}
.main-nav-link {
  padding-right: 2em;
  font-size: 0.7em;
}
.main-nav-link a:link,
.main-nav-link a:visited {
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 500;
}

.main-nav-link a:hover,
.main-nav-link a:active {
  color: #cf711f;
  text-decoration: none;
}

/***********************/
/* MOBILE */
/***********************/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 1em;
  border: 3px solid #cf711f;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* <header class="header">
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li class="main-nav-link">Startsida</li>
      <li class="main-nav-link">Produktsida</li>
      <li class="main-nav-link">Leveransvilkor</li>
      <li class="main-nav-link">Om Pailun</li>
      <li class="main-nav-link">Kassa</li>
    </ul>
  </nav>
</header> */
